@inherits LayoutComponentBase

<PageTitle>Desktop.AI.App</PageTitle>

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main style="overflow: hidden;">
       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <div>
            @Body
        </div>
    </main>
</div>
